@font-face {
  font-family: "HarleyStyle";
  src: url("./assets/harley-style-brush.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@import "tailwindcss";

:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer components {
  .font-Staatliches {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
  }

  .font-HarleyStyle {
    font-family: "HarleyStyle", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
  }

  .font-Montserrat {
    font-family: "Montserrat", sans-serif;
  }
}

@layer utilities {
  .link-underline {
    position: relative;
    display: inline-block;
  }

  .link-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: white;
    transform: scaleX(0);
    /* Ban đầu border không hiển thị */
    transform-origin: right;
    /* Hiện border từ phải sang trái khi chưa hover */
    transition: transform 0.5s ease;
    /* Chuyển tiếp hiệu ứng */
  }

  .link-underline:hover::after {
    transform: scaleX(1);
    /* Khi hover vào, border hiện ra từ trái qua phải */
    transform-origin: left;
    /* Khi hover vào, hiệu ứng bắt đầu từ trái */
  }
}